.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    position: relative;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background-color: aqua;
}